pkgbase = taskapsule
	pkgdesc = Task management app with Electron + Vue + Go backend
	pkgver = 0.2.0
	pkgrel = 1
	url = https://github.com/Comardom/tasKapsule
	arch = x86_64
	license = Apache-2.0
	makedepends = go
	makedepends = nodejs-lts-krypton
	makedepends = pnpm
	makedepends = typescript
	depends = electron
	source = taskapsule-0.2.0.tar.gz::https://github.com/Comardom/tasKapsule/archive/refs/tags/v0.2.0.tar.gz
	sha256sums = eea0a309bd77e446f25bf52f949a47ab7b1d0c65d99786bdd5f9f2920c9c21c3

pkgname = taskapsule
