#app-all {
  background: repeating-linear-gradient(
      to right,
      #f0f0f0,
      #f0f0f0 2px,
      #ffffff 2px,
      #ffffff 4px
  );
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /*仅单屏应用可用此选项！也就是说只有主页面的最外层div采用*/
  overflow: hidden;
}