/* 统一盒模型 */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 移除默认间距，使用逻辑属性 */
html, body {
  margin: 0;
  padding: 0;
  /*这里的dvb是动态块级视图，block类似于height*/
  min-block-size: 100dvb;
  overflow-x: hidden;

}

a {
  text-decoration: none;/* 去掉下划线 */
  color: inherit;/* 颜色继承自父元素 */
}
option { cursor: pointer; }

img {
  max-inline-size: 100%;/* 防止图片撑破容器 */
  display: block;/* 消除底部缝隙 */
}