/* src/globalCSS/themeVariables.css */

:root {
  /* 亮色模式变量 */
  --theme-bg-stripe-1: #f0f0f0;
  --theme-bg-stripe-2: #ffffff;
  --stripe-width: 0.125rem;
  --theme-color: #222222;
  --theme-link: #0066cc;
  --theme-bg-button: #ffffff;
  --theme-bg-button-hover: #dddddd;
  --theme-border-button: #cccccc;
  --theme-color-button: #222222;

  --camera-border: rgba(0, 0, 0, 0.85);
  --camera-corner: rgba(0, 0, 0, 0.7);

  --selection-bg: #cccccc;
  --selection-text: #000000;
}

[data-theme='dark'] {
  /* 暗色模式变量覆盖 */
  --theme-bg-stripe-1: #1a1a1a;
  --theme-bg-stripe-2: #2b2b2b;
  --theme-color: #e0e0e0;
  --theme-link: #66b2ff;
  --theme-bg-button: #2b2b2b;
  --theme-bg-button-hover: #3c3c3c;
  --theme-border-button: #666666;
  --theme-color-button: #e0e0e0;

  --camera-border: rgba(255, 255, 255, 0.85);
  --camera-corner: rgba(255, 255, 255, 0.7);

  --selection-bg: #555555;
  --selection-text: #ffffff;
}